@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/utilities" as *;

@use "./layout/header";

@use "./pages/index";
@use "./pages/products";
@use "./pages/branches";
@use "./pages/our-history";
@use "./pages/contact";

@use "./layout/footer";


@font-face {
    font-family: "LemonMedium";
    src: url("../fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LemonLight";
    src: url("../fonts/LEMONMILK-Light.otf");
}

@font-face {
    font-family: "Caviar-Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LemonMedium", sans-serif;
}

