@use "../styles/variables" as *;
@use "../styles/mixins" as *;


.branches {
    padding-top: 40px;
}

.branches__title {
    background-color: $accent;
    color: $white;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 30px;
}

#lista-sucursales {
    background-color: $accent;
    color: $white;
    width: 400px;
    margin-top: 40px;
}

.branches__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.branches__item {
    border: 2px solid lightgray;
    margin-top: 30px;
    width: 80%;
    height: 300px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

.branches__item:hover,
.branches__info:hover {
    box-shadow: 10px 10px 5px 0px $black-overlay;
    background-color: $green-primary;
}

.branches__info {
    background-color: $green-dark;
    color: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 50px;
    justify-content: center;
    gap: 40px;
    transition: 0.3s;
}

.branches__map {
    height: 100%;
    border: 0;
}

.branches__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
}

.branches__image--1 {
    background-image: url("../imgs/local1.jpg");
}

.branches__image--2 {
    background-image: url("../imgs/local2.jpg");
}

.branches__image--3 {
    background-image: url("../imgs/local3.jpg");
}