@use "../styles/variables" as *;
@use "../styles/mixins" as *;



/* Historia //////////////////////////////////////////////////////////////////////////////////////////////////*/
.history {
    padding-top: 40px;
    color: $white;
    font-family: "Caviar-Bold";
}



.history__title {
    display: block;
    width: 100%;
    padding-left: 30px;
    background-color: $accent;
    color: $white;
    margin: 0;
}

/* CONTENEDOR GENERAL */

.history__container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
}


/* ========================================= */
/* ========== SECCIÓN COMIENZOS ============ */
/* ========================================= */

.history__section--beginnings {
    background-color: $green-dark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
    gap: 30px;
}

/* Subtitulo "Cómo empezó todo" */
.history__subtitle {
    font-size: 35px;
    margin: 0;
    align-self: center;
}

/* Texto */
.history__text {
    width: 70%;
    text-align: left;

    letter-spacing: 1.5px;
    line-height: 1.5;
}


/* ========================================= */
/* ====== MISIÓN / VISIÓN / VALORES ======== */
/* ========================================= */


.history__section--values {
    margin-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

/* Row bootstrap */
.history__values-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

/* Cards */
.history__card {
    background-color: $green-dark;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    gap: 30px;

    flex: 1 1 500px;
}

/* Titulos dentro */
.history__card-title {
    font-size: 30px;
}

/* Lista */
.history__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
}

/* Items */
.history__list-item {
    list-style: none;
    text-align: left;
}

/* Highlight naranja */
.history__highlight {
    background-color: $accent;
    padding: 2px 6px;
}