@font-face {
    font-family: "LemonMedium";
    src: url("../fonts/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LemonLight";
    src: url("../fonts/LEMONMILK-Light.otf");
}

@font-face {
    font-family: "Caviar-Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LemonMedium", sans-serif;
}

/*///////////////////////////////////////////////////////////
/*Header - ESTRUCTURA GENERICA */
.header-main-container {
    background-color: rgb(63, 124, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.header-main-container a {
    text-decoration: none;
}

/*Logo*/
.main-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 10px;
    background-color: orange;
    padding-left: 30px;
}

.main-logo img {
    height: 100px;
}

.main-logo h2 {
    font-size: 25px;
    color: white;
}

/*Menú Derecho*/
.header-navmenu-login {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 20px;
    font-size: 20px;
    align-items: center;
}

.header-navmenu-login ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 12px;
}

.header-navmenu-login ul a {
    text-decoration: none;
    color: white;
    transition: .5s;
    font-family: "LemonLight";
}

.header-navmenu-login ul a:hover {
    color: orange;
}

.auth-buttons {
    display: flex;
    gap: 30px
}

button {
    height: 40px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    transition: .3s;
    font-family: "LemonLight";
    font-size: 12px;
}

button:hover {
    background-color: rgb(111, 176, 142);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/*///////////////////////////////////////////////////////////*/
/* INDEX */

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Main content - Hero*/
#hero {
    padding: 150px;
    transition: .5s;
}

#hero:hover {
    background-color: rgb(230, 225, 225);
}

#hero h1 {
    padding-bottom: 20px;
    font-family: "LemonMedium";
    letter-spacing: 5px;
}

#hero p {
    padding-bottom: 50px;
    font-family: "LemonLight";
    letter-spacing: 3px;
}

#hero button {
    width: 300px;
    font-size: 15px;
    background-color: rgb(63, 124, 94);
    color: white;
    transition: .3s;
}

#hero button:hover {
    background-color: rgb(111, 176, 142);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Main content - Destacados*/
#destacados {
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}

#destacados h2 {
    background-color: orange;
    width: 340px;
    padding-left: 5px;
    color: white;
    margin-left: 45px;
}

/*Div productos destacados */
.productos-destacados {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

/*Card producto destacado */
.producto {
    font-family: "LemonLight";
    background-color: rgb(63, 124, 94);
    border: 1px solid black;
    color: white;
    width: 500px;
    height: 530px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: .3s;
    cursor: pointer;
    text-align: left;
}

.producto:hover {
    background-color: rgb(85, 144, 113);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.producto img {
    height: 380px;
    padding-bottom: 20px;
}

.price-n-kart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price-n-kart button {
    width: 200px;
}

.linea-media {
    background-color: black;
    height: 3px;
    width: 30%;
    align-self: center;
}

#temporadas {
    margin-top: 50px;
    margin-bottom: 80px;
    color: white;
    display: flex;
    flex-direction: column;
}

#temporadas h2 {
    background-color: orange;
    color: white;
    width: 180px;
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.temporadas-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

/* Temporada Card */
.temporada {
    border: 2px solid black;
    width: 49.5%;
    height: 450px;
    display: flex;
    background-color: rgb(63, 124, 94);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.temporada:hover {
    background-color: rgb(85, 144, 113);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.temporada img {
    width: 400px;
}

.temporada-texto-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    width: 90%;
    padding: 20px;
}

/* FIN INDEX //////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Productos //////////////////////////////////////////////////////////////////////////////////////////////////*/
#products-main {
    padding-top: 40px;
}

.productos-filtros-divcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 30px;
    background-color: orange;
    color: white;

}

.filtros-productos-container-options {
    width: 30%;
}

/*  */
.lista-productos {
    padding: 50px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


#products-main h3 {
    background-color: rgb(85, 144, 113);
    color: white;
    letter-spacing: 5px;
    width: 55%;
}

.proximamente {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

/*Fin Productos //////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Historia //////////////////////////////////////////////////////////////////////////////////////////////////*/
#main-history {
    padding-top: 40px;
    color: white;
    font-family: "Caviar-Bold";
}

#main-history h1 {
    display: flex;
    padding-left: 30px;
    background-color: orange;
    color: white;
}

.main-container-history {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;

}

/* Primer sección */
#comienzos {
    background-color: rgb(63, 124, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.texto-historia {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Segunda sección */
#misionvisionvalores {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.misionvisionvalores-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 50px;
}

#misionvisionvalores article {
    background-color: rgb(63, 124, 94);
    width: 33%;
    padding: 50px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#misionvisionvalores article h3 {
    font-size: 30px;
}

#misionvisionvalores ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#misionvisionvalores ul li {
    list-style: none;
}

span {
    background-color: orange;
}

/* Tercera sección */
#equipo {
    background-color: orange;
    width: 93.5%;
}

#equipo-containter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo-article-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.miembro-equipo {
    display: flex;
    background-color: rgb(63, 124, 94);
    width: 30%;
    height: 300px;
    border: 1px solid black;
    text-align: left;
}

.miembro-equipo img {
    width: 50%;
    height: 100%;
}

.texto-persona {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* FIN HISTORIA */

/* Branches //////////////////////////////////////////////////////////////////////////////////////////////////*/
#branches-main {
    padding-top: 40px;
}

#branches-main h1 {
    background-color: orange;
    color: white;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 30px;
}

#lista-sucursales {
    background-color: orange;
    color: white;
    width: 400px;
    margin-top: 40px;
}

.container-sucursales {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.sucursal {
    border: 2px solid lightgray;
    margin-top: 30px;
    width: 80%;
    height: 300px;
    display: flex;
    cursor: pointer;
    transition: .3s;
}

.sucursal:hover,
.sucursales-texto-container:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(85, 144, 113);
}

.sucursales-texto-container {
    background-color: rgb(63, 124, 94);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 30px;
    gap: 40px;
    transition: .3s;
}

.sucursal iframe {
    height: 100%;
}

.container-imagen-ubic-branches-1 {
    background-image: url("../imgs/local1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
}

.container-imagen-ubic-branches-2 {
    background-image: url("../imgs/local2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
}

.container-imagen-ubic-branches-3 {
    background-image: url("../imgs/local3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
}
/* Fin Branches //////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Contact ////////////////////////////////////////////////////////////////////////*/
/* Contenedores generales */
#contact-main {
    padding-top: 40px;
    text-align: left;
    display: flex;
    gap: 30px;
}

#contact-main h1 {
    background-color: orange;
    padding-left: 30px;
    color: white;
    margin-bottom: 30px;
}

.contact-h1-container {
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
#contact-main p {
    background-color: orange;
    width: 35%;
}

/* Container de form */
.formulario-contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/* <Form> */
#form-contact {
    width: 25%;
    height: 650px;
    background-color: rgb(63, 124, 94);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* INPUTS PARA EL USER */
.datos-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
}
.datos-contact input, .datos-contact textarea {
    width: 60%;
    border: 1px solid black;
}
.datos-contact label {
    width: 20%;
    padding-left: 5px;
}

/* Radio Buttons */
.radiobtns-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.radiobtns-container button { 
    width: 30%;
} 

fieldset { 
    color: white;
    width: 80%;
    padding: 10px;
}

legend { 
    padding-left: 10px;
    padding-right: 10px;
}



/* Footer - ESTRUCTURA GENERICA */
footer {
    border: 1px solid black;
    background-color: rgb(63, 124, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 40px;
    color: white;
}

.footer-contacto {
    width: 18%;
    display: flex;
    justify-content: space-between;
}

footer input,
footer button {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.footer-redes {
    width: 12%;
    padding-right: 20px;
}

.footer-redes img {
    height: 30px;
}

.footer-redes ul {
    display: flex;
    justify-content: space-between;
}

.footer-redes ul li {
    list-style: none;
}