@use "../styles/variables" as *;
@use "../styles/mixins" as *;

/* Footer - MOBILE */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "copyright social-media";
    align-items: center;
    padding: 40px;
    background-color: $green-dark;
    box-sizing: border-box;
    color: $white;

}

footer p {
    grid-area: copyright;
    font-size: .5em;
}

.footer-contacto {
    display: none;
}

.footer-redes {
    grid-area: social-media;
    @include flex-center(16px);
}

.footer-redes img {
    height: 20px;
}

.footer-redes ul {
    display: flex;
    list-style: none;
    gap: 12px;
}



/* Footer - TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "copyright social-media";
        align-items: center;
        padding: 40px;
        background-color: $green-dark;
        box-sizing: border-box;
        color: $white;

    }

    footer p {
        grid-area: copyright;
        font-size: 10px;
    }

    .footer-contacto {
        display: none;
    }

    .footer-redes {
        grid-area: social-media;
        display: flex;
        justify-self: end;
    }

    .footer-redes img {
        height: 20px;
    }

    .footer-redes ul {
        display: flex;
        list-style: none;
        gap: 12px;
    }
}


@media (min-width: 1024px) {

    /*FOOTER DESKTOP*/
    footer {
        display: grid;
        grid-template-columns: 1.2fr 2fr 1fr;
        grid-template-areas: "copyright form social-media";
        align-items: center;
        padding: 50px 40px;
        background-color: $green-dark;
        width: 100%;
        box-sizing: border-box;
        color: $white;

    }

    footer p {
        grid-area: copyright;
    }

    .footer-contacto {
        grid-area: form;
        display: flex;
        gap: 10px;
        justify-content: center;
        min-width: 0;
    }

    .footer-contacto input {
        width: 100%;
        min-width: 0;
        max-width: 320px;
        border-radius: 20px;
        border: none;
        padding: 10px;
    }

    .footer-contacto button {
        width: 100px;
        padding: 10px;
        border-radius: 20px;
        border: none;
    }

    .footer-redes {
        grid-area: social-media;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }

    .footer-redes img {
        height: 30px;
    }

    .footer-redes ul {
        display: flex;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-redes ul li {
        list-style: none;
    }
}