@use "../styles/variables" as *;
@use "../styles/mixins" as *;


.site-header {
    height: auto;
    width: 100%;
    background-color: $green-dark;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "logo"
        "menu";
    align-items: center;
    gap: 12px;
    padding: 16px;
}

.site-header>a {
    grid-area: logo;
    text-decoration: none;
}

.site-header__logo {
    @include flex-center(10px);
    letter-spacing: 6px;
    background-color: $accent;
    padding: 12px 16px;
}

.site-header__logo img {
    height: 64px;
}

.site-header__logo h2 {
    font-size: 25px;
    color: $white;
}

/*Menú Derecho*/
.site-header__nav {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 0;
    font-size: 10px;
}


.site-header__nav ul {
    list-style: none;
    @include flex-center(14px);
    flex-wrap: wrap;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


.site-header__nav ul a {
    text-decoration: none;
    color: $white;
    transition: .5s;
    font-family: "LemonLight";
}

.site-header__nav ul a:hover {
    color: $accent;
}

.site-header__auth {
    @include flex-center(20px);
}

button {
    height: 40px;
    width: 100px;
    font-family: "LemonLight";
    font-size: 12px;
    @include button-base($white, #000);
    border-radius: 20px;
    padding: 10px;
}

button:hover {
    background-color: $accent;
    box-shadow: 0px 5px 5px 0px $black-overlay;
}


@include responsive(tablet) {

    .site-header {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-areas: "logo menu";
        padding: 16px 20px;
        height: auto;
        background-color: $green-dark;
    }

    .site-header__logo {
        justify-content: flex-start;
        padding: 12px 20px;
    }

    .site-header__nav {
        display: grid;
        justify-self: end;
        justify-content: flex-end;
        gap: 18px;
    }

    .site-header__nav ul {
        justify-content: flex-end;
        gap: 22px;
    }

    .site-header__auth {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@include responsive(desktop) {

    /*INDEX DESKTOP*/
    main {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .site-header {
        width: 100%;
        background-color: $green-dark;
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-areas: "logo menu";
        align-items: center;
        height: 140px;
        padding: 10px;
    }

    .site-header__nav {
        display: flex;
        flex-direction: row;
        justify-self: end;
        justify-content: flex-end;
        gap: 18px;
    }

    .site-header__nav ul {
        justify-content: flex-end;
        gap: 22px;
    }

    .site-header__auth {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
}