@use "variables" as *;

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: #{$i * 0.5}rem;
  }
}

@for $i from 1 through 5 {
  .pdd-#{$i} {
    margin-top: #{$i * 2}px;
  }
}

@for $i from 1 through length($card-colors) {
  .bg-#{$i} {
    background-color: nth($card-colors, $i);
  }
}