$white: #fff;

$green-light: rgb(244, 247, 244);
$green-primary: rgb(111, 176, 142);
$green-medium: rgb(85, 144, 113);
$green-dark: rgb(63, 124, 94);

$black-overlay: rgba(0, 0, 0, 0.75);

$accent: orange;
$border: 1px solid black;

$card-colors: (
  $green-light,
  $green-primary,
  $green-medium,
  $accent
);